version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    container_name: api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - API_BASE_URL=http://localhost:3000
      - MONGO_URI=mongodb://mongo:27017/employee-management
      - API_VERSION=v1
    depends_on:
      - mongo

volumes:
  mongo-data:
